body {
  margin: 0;
  padding: 0;
  background: #F5F5F5;
}

.main {
  height: 95vh;
  width: 100vw;
}

header {
  background-color: #283E4A;
  height: 5vh;
}

header .inside-header {
  height: 100%;
  width: 1000px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .inside-header .search {
  height: 81%;
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .inside-header .search i {
  font-size: 34px;
  color: #2877B5;
  padding-right: 10px;
  display: block;
}

header .inside-header .search #search-bar {
  height: 24px;
  width: 225px;
}

header .inside-header .navbar {
  height: 95%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-right: 1px solid #c7d1d8;
}

header .inside-header .navbar .nav-icon {
  height: 100%;
  width: 80px;
  text-align: center;
}

header .inside-header .navbar .nav-icon :hover {
  background: red;
}

header .inside-header .navbar .nav-icon p {
  margin: 0;
  font-size: 12px;
  color: #c7d1d8;
}

header .inside-header .navbar .fas, header .inside-header .navbar .fab, header .inside-header .navbar .far {
  color: white;
  padding-top: 8px;
  font-size: 20px;
}

.main-container {
  width: 1000px;
  height: 90%;
  margin: 0 auto;
}

.top-comment {
  height: 5vh;
}

.content-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content-container .left {
  width: 18%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content-container .left .profile {
  height: 40%;
  width: 100%;
}

.content-container .left .groups {
  height: 58%;
}

.content-container .middle {
  width: 50%;
}

.content-container .middle .start-post {
  height: 100px;
  margin-bottom: 25px;
}

.content-container .middle .recommended {
  height: 210px;
  margin-bottom: 10px;
}

.content-container .middle .post {
  height: 345px;
  margin-bottom: 10px;
}

.content-container .right {
  width: 26%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content-container .right .news {
  height: 40%;
}

.content-container .right .promoted {
  height: 37%;
}

.content-container .right .learning {
  height: 20%;
}

.section {
  -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15), 0 2px 3px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15), 0 2px 3px rgba(0, 0, 0, 0.2);
  background-color: white;
}

.underli {
  border-bottom: 3px solid white;
}
/*# sourceMappingURL=style.css.map */